@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .animate-slow-pulse {
    animation: pulse 8s cubic-bezier(0.4, 0, 0.6, 1) infinite;
  }
  .animate-spin-slow {
    animation: spin 25s linear infinite;
  }
  .animate-reverse-spin {
    animation: spin-reverse 35s linear infinite;
  }
}

@keyframes spin-reverse {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}